.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color var(--time-cubic);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.page-header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__text--black {
  color: var(--primary-black-color);

  transition: color var(--time-cubic);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.logo-footer--white {
  color: var(--primary-white-color);

  transition: color var(--time-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
