%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%button {
  color: var(--title-text-color);
  background-color: var(--button-bgr-color);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  margin: 0 auto;

  transition: color var(--time-cubic), background-color var(--time-cubic);

  &:hover,
  &:focus,
  &:active {
    color: var(--primary-white-color);
    background-color: var(--button-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
