:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --hero-footer-bgr-color: #2f303a;
  --button-bgr-color: #f5f4fa;
  --header-line-color: #ececec;
  --border-color: #eeeeee;
  --social-icons-color: #afb1b8;
  --footer-icons-bgr: rgba(255, 255, 255, 0.1);
  --modal-button-hover: #188ce8;
  --button-hover: #188ce8;
  --textarea-color: rgba(117, 117, 117, 0.5);
  --input-textarea-border: rgba(33, 33, 33, 0.2);
  --button-shadow: rgba(0, 0, 0, 0.15);
  --card-set-gap: 30px;
  --time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
