.main-page-form {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.main-page-form__title {
  display: inline-block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  font-size: 12px;
  line-height: 1.166;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.form-field__input {
  padding: 11px 0 11px 42px;
  border: 1px solid var(--input-textarea-border);
  border-radius: 4px;

  transition: border-color var(--time-cubic);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--time-cubic);

  .form-field:focus-within > & {
    fill: var(--accent-color);
  }
}
